[Desktop Entry]
Encoding=UTF-8
Name=osu!
Type=Application
Exec=/bin/bash -c "$HOME/.scripts/osu.sh"
Icon=osu-icon
StartupWMClass=osu!.exe
Categories=Games
