[Desktop Entry]
Encoding=UTF-8
Name=osu! (ripple.moe)
Type=Application
Exec=/bin/bash -c "$HOME/.scripts/osu.sh -devserver ripple.moe"
Icon=osu-icon
StartupWMClass=osu!.exe
Categories=Games
